<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <title>{{ name }} | Books Read | Mustafa Soby </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../icons/M.png">
</head>
<body>
<div class="about">
    <div class="body_header">
        <h1>{{ name }}</h1>
        <h3>{{ author }}</h3>
        <hr/>
    </div>
    <div class="about_body">
        <div class="project_icons">
            {% for icon in icons %}
            <img src="{{ icon.path }}" title="{{ icon.title }}" alt="{{ icon.title }}">
            {% endfor %}
        </div>
        <book-headers>Start Date: {{ startDate }}</book-headers>
        <br/>
        <book-headers>End Date: {{ endDate }}</book-headers>
        <br/>
        <book-headers>Reason I picked it up: {{reason}}</book-headers>
        <p>
            {{ body }}
        </p>
        <br/>
        <div class="links">
            <p><a href="../books-read.html">Return</a></p>
        </div>
        <br/>
        {% if links | length > 0 %}
        <p><b>Links:</b></p>
        <div class="links_small">
            {% for i in range(links | length) %}
            <p><a href="{{ links[i].url }}" target="_blank">[{{i}}] {{ links[i].text }}</a></p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br/>
    <br/>
    <br/>
</div>
</body>
</html>